/* Nodefinē kontenera maksimālo platumu un ar margin: auto nocentre */
.container {
  max-width: 1000px;
  margin: auto;
  font-style: Courier;
}

/* Pieškir izkārtojumu ar css grid, priekš desktop*/
@media only screen and (min-width: 700px) {
  .grid_layout {
    display: grid;
    grid-template-areas: 'top top' 'left right';
    grid-gap: 10px;
    padding: 15px;
    grid-template-rows: 150px;
    grid-auto-rows: 600px;
  }
}

.top {
  grid-area: top;
  text-align: center;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.container > div {
  padding: 30px;
  border: 1px blueviolet solid;
}

.container > div h1 {
  margin-top: 0;
}

.budget__value {
  padding-bottom: 30px;
}

.budget__total {
  font-size: 30px;
  margin-bottom: 15px;
}

/* styling for income and expeses list */
.list {
  display: flex;
  flex-direction: column;
}

.list_item {
  display: flex;
  justify-content: space-between;
}
.list__inner {
  flex-grow: 1;
}

.list__total {
  align-self: flex-end;
}
.budget__title{
  color: purple; 
}
.text{
  font-size:3px;
  border: red;
  padding:10px;
  margin:20px;
}
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:31px;
	-webkit-border-radius:31px;
	border-radius:31px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
input {
  border-color: red;
  border-radius:25px;
  font-size: 20px;
}
select {
  border-radius:25px
}

/* 
CSS UZDEVUMI
Nostilot galvenes un saraksta elementus
-"Pieejamais budžets" tekstam piešķirt stilu, kas labi iederas kopējā dizainā
-Ievades laukiem piešķirt vizuāli pievilcīgu stilu (font-size, border, padding)
-Nostilot pogas vizuāli pievilcīgi
-Izcelt kopējo izdevumu un ienākumu izvadi
-Ienākumu un izdevumu sarakstam piešķirt stilu, kas labāk nodala saraksta ierakstus vienu no otra

*/